Inmobiliaria/Service References/WebServiceVenalia/WebServiceVenalia2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://webservice.venalia.net/WebServiceVenalia.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WebServiceVenalia" />
  <xs:import schemaLocation="http://webservice.venalia.net/WebServiceVenalia.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="GetData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="value" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetDataResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataUsingDataContract">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WebServiceVenalia" minOccurs="0" name="composite" nillable="true" type="q1:CompositeType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataUsingDataContractResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WebServiceVenalia" minOccurs="0" name="GetDataUsingDataContractResult" nillable="true" type="q2:CompositeType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SoyFacil">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SoyFacilResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SoyFacilResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidarUsuario">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Usuarios" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Pass" nillable="true" type="xs:string" />
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/WebServiceVenalia" minOccurs="0" name="DatosCliente" nillable="true" type="q3:clDatosDeUsuario" />
        <xs:element minOccurs="0" name="RegistrationID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidarUsuarioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/WebServiceVenalia" minOccurs="0" name="ValidarUsuarioResult" nillable="true" type="q4:clResultado" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AltaUsuario">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Usuarios" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Pass" nillable="true" type="xs:string" />
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/WebServiceVenalia" minOccurs="0" name="Usuario" nillable="true" type="q5:clDatosDeUsuario" />
        <xs:element minOccurs="0" name="TipoAlta" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="RegistrationID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="VersionAPP" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AltaUsuarioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/WebServiceVenalia" minOccurs="0" name="AltaUsuarioResult" nillable="true" type="q6:clResultado" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertarEliminarFavorito">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Usuarios" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Pass" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ContadorUsuario" type="xs:int" />
        <xs:element minOccurs="0" name="ContadorInmueble" type="xs:int" />
        <xs:element minOccurs="0" name="Oferta" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertarEliminarFavoritoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/WebServiceVenalia" minOccurs="0" name="InsertarEliminarFavoritoResult" nillable="true" type="q7:clResultado" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerFavoritos">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Usuarios" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Pass" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ContadorUsuario" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerFavoritosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/WebServiceVenalia" minOccurs="0" name="ObtenerFavoritosResult" nillable="true" type="q8:ArrayOfclInmueblesListado" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="HacerBusqueda">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Usuarios" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Pass" nillable="true" type="xs:string" />
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/WebServiceVenalia" minOccurs="0" name="FiltroBusqueda" nillable="true" type="q9:clFiltrosBusqueda" />
        <xs:element minOccurs="0" name="Pagina" type="xs:int" />
        <xs:element minOccurs="0" name="Detalle" type="xs:boolean" />
        <xs:element minOccurs="0" name="Cuantos" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="HacerBusquedaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/WebServiceVenalia" minOccurs="0" name="HacerBusquedaResult" nillable="true" type="q10:ArrayOfclInmueblesListado" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CuantosInmuebles">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Usuarios" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Pass" nillable="true" type="xs:string" />
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/WebServiceVenalia" minOccurs="0" name="FiltroBusqueda" nillable="true" type="q11:clFiltrosBusqueda" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CuantosInmueblesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CuantosInmueblesResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListaOfertas">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Usuarios" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Pass" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ContadorEmpresa" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListaOfertasResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/WebServiceVenalia" minOccurs="0" name="ListaOfertasResult" nillable="true" type="q12:ArrayOfclOfertas" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListaEstados">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Usuarios" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Pass" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ContadorEmpresa" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListaEstadosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/WebServiceVenalia" minOccurs="0" name="ListaEstadosResult" nillable="true" type="q13:ArrayOfclEstados" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListaPoblaciones">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Usuarios" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Pass" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ContadorEmpresa" type="xs:int" />
        <xs:element minOccurs="0" name="ParaPaginaPrincipal" type="xs:boolean" />
        <xs:element xmlns:q14="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Provincias" nillable="true" type="q14:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListaPoblacionesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/WebServiceVenalia" minOccurs="0" name="ListaPoblacionesResult" nillable="true" type="q15:ArrayOfclPoblaciones" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListaTamanos">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Usuarios" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Pass" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="TipoInmueble" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListaTamanosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/WebServiceVenalia" minOccurs="0" name="ListaTamanosResult" nillable="true" type="q16:ArrayOfclTamanos" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListaPrecios">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Usuarios" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Pass" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="TipoVenta" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListaPreciosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/WebServiceVenalia" minOccurs="0" name="ListaPreciosResult" nillable="true" type="q17:ArrayOfclPrecios" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListaTipo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Usuarios" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Pass" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ContadorEmpresa" type="xs:int" />
        <xs:element minOccurs="0" name="ParaPaginaPrincipal" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListaTipoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/WebServiceVenalia" minOccurs="0" name="ListaTipoResult" nillable="true" type="q18:ArrayOfclTipoInmueble" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListaZonas">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Usuarios" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Pass" nillable="true" type="xs:string" />
        <xs:element xmlns:q19="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Poblaciones" nillable="true" type="q19:ArrayOfstring" />
        <xs:element minOccurs="0" name="ContadorEmpresa" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListaZonasResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/WebServiceVenalia" minOccurs="0" name="ListaZonasResult" nillable="true" type="q20:ArrayOfclZonas" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListaProvincias">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Usuarios" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Pass" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ContadorEmpresa" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListaProvinciasResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/WebServiceVenalia" minOccurs="0" name="ListaProvinciasResult" nillable="true" type="q21:ArrayOfclProvincias" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListaHabitaciones">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Usuarios" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Pass" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListaHabitacionesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/WebServiceVenalia" minOccurs="0" name="ListaHabitacionesResult" nillable="true" type="q22:ArrayOfclHabitaciones" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListaBanos">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Usuarios" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Pass" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListaBanosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/WebServiceVenalia" minOccurs="0" name="ListaBanosResult" nillable="true" type="q23:ArrayOfclBanos" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerAlertas">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Usuarios" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Pass" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ContadorUsuario" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerAlertasResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/WebServiceVenalia" minOccurs="0" name="ObtenerAlertasResult" nillable="true" type="q24:ArrayOfclAlertas" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminarAlertas">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Usuarios" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Pass" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ContadorAlerta" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminarAlertasResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EliminarAlertasResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertarAlertas">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Usuarios" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Pass" nillable="true" type="xs:string" />
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/WebServiceVenalia" minOccurs="0" name="Alerta" nillable="true" type="q25:clFiltrosBusqueda" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertarAlertasResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/WebServiceVenalia" minOccurs="0" name="InsertarAlertasResult" nillable="true" type="q26:clResultado" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerFiltrosAlertas">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Usuarios" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Pass" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ContadorAlerta" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerFiltrosAlertasResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q27="http://schemas.datacontract.org/2004/07/WebServiceVenalia" minOccurs="0" name="ObtenerFiltrosAlertasResult" nillable="true" type="q27:clFiltrosBusqueda" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerFiltrosUltimaBusqueda">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Usuarios" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Pass" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="RegistrationID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerFiltrosUltimaBusquedaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q28="http://schemas.datacontract.org/2004/07/WebServiceVenalia" minOccurs="0" name="ObtenerFiltrosUltimaBusquedaResult" nillable="true" type="q28:clFiltrosBusqueda" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DarBajaUsuario">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Usuarios" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Pass" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Contador" type="xs:int" />
        <xs:element minOccurs="0" name="Baja" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DarBajaUsuarioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q29="http://schemas.datacontract.org/2004/07/WebServiceVenalia" minOccurs="0" name="DarBajaUsuarioResult" nillable="true" type="q29:clResultado" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertarBD">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Usuarios" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Pass" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="BaseDeDatos" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertarBDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q30="http://schemas.datacontract.org/2004/07/WebServiceVenalia" minOccurs="0" name="InsertarBDResult" nillable="true" type="q30:clResultado" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ActualizaReservado">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Usuarios" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Pass" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="codigoempresa" type="xs:int" />
        <xs:element minOccurs="0" name="Referencia" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Reservado" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ActualizaReservadoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ActualizaReservadoResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ActualizaFotoPrincipal">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Usuarios" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Pass" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="codigoempresa" type="xs:int" />
        <xs:element minOccurs="0" name="Referencia" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="FotoPrincipal" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ActualizaFotoPrincipalResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ActualizaFotoPrincipalResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BajaInmueble">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Usuarios" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Pass" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="codigoempresa" type="xs:int" />
        <xs:element minOccurs="0" name="Referencia" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BajaInmuebleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="BajaInmuebleResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AltaInmueble">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Usuarios" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Pass" nillable="true" type="xs:string" />
        <xs:element xmlns:q31="http://schemas.datacontract.org/2004/07/WebServiceVenalia" minOccurs="0" name="Inmueble" nillable="true" type="q31:clInmueblesAlta" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AltaInmuebleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AltaInmuebleResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CambiaReferencia">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Usuarios" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Pass" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="codigoempresa" type="xs:int" />
        <xs:element minOccurs="0" name="ReferenciaVieja" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ReferenciaNueva" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CambiaReferenciaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CambiaReferenciaResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertarBDUIM">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Usuarios" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Pass" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="BaseDeDatos" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertarBDUIMResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q32="http://schemas.datacontract.org/2004/07/WebServiceVenalia" minOccurs="0" name="InsertarBDUIMResult" nillable="true" type="q32:clResultado" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>