Inmobiliaria/Service References/ServiceWebUIM/WebServiceUIMApp43.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WebServiceUIMApp" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WebServiceUIMApp" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://uim.tresbits.es/WebServiceUIMApp.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="CompositeType">
    <xs:sequence>
      <xs:element minOccurs="0" name="BoolValue" type="xs:boolean" />
      <xs:element minOccurs="0" name="StringValue" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CompositeType" nillable="true" type="tns:CompositeType" />
  <xs:complexType name="clResultado">
    <xs:sequence>
      <xs:element minOccurs="0" name="Codigo" type="xs:int" />
      <xs:element minOccurs="0" name="InformacionAdicional" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Mensaje" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="clResultado" nillable="true" type="tns:clResultado" />
  <xs:complexType name="clDatosDeUsuario">
    <xs:sequence>
      <xs:element minOccurs="0" name="APPActiva" type="xs:boolean" />
      <xs:element minOccurs="0" name="Baja" type="xs:boolean" />
      <xs:element minOccurs="0" name="FechaAlta" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FechaAltaDispositivo" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Pass" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RegistrationID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TipoAlta" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Usuario" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="clDatosDeUsuario" nillable="true" type="tns:clDatosDeUsuario" />
  <xs:complexType name="clDatosInmobiliaria">
    <xs:sequence>
      <xs:element minOccurs="0" name="CodPostal" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Direccion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Fax" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NIF" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NombreComercial" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Pais" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Poblacion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Provincia" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Telefono1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Telefono2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TelefonoMovil" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Web" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="clDatosInmobiliaria" nillable="true" type="tns:clDatosInmobiliaria" />
  <xs:complexType name="ArrayOfclInmueblesListado">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="clInmueblesListado" nillable="true" type="tns:clInmueblesListado" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfclInmueblesListado" nillable="true" type="tns:ArrayOfclInmueblesListado" />
  <xs:complexType name="clInmueblesListado">
    <xs:sequence>
      <xs:element minOccurs="0" name="Contador" type="xs:int" />
      <xs:element minOccurs="0" name="DescripcionZona" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Estado" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Favorito" type="xs:boolean" />
      <xs:element minOccurs="0" name="Habitaciones" type="xs:int" />
      <xs:element minOccurs="0" name="Metros" type="xs:int" />
      <xs:element minOccurs="0" name="Oferta" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Oportunidad" type="xs:boolean" />
      <xs:element minOccurs="0" name="Poblacion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Precio" type="xs:int" />
      <xs:element minOccurs="0" name="Referencia" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RutaImagenPrincipal" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RutaImagenPrincipalGrande" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Tipo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TipoInmueble" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TipoSecundario" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TipoWebApp" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Zona" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="clInmueblesListado" nillable="true" type="tns:clInmueblesListado" />
  <xs:complexType name="clFiltrosBusqueda">
    <xs:sequence>
      <xs:element minOccurs="0" name="Ascensor" type="xs:boolean" />
      <xs:element minOccurs="0" name="BalconPatio" type="xs:boolean" />
      <xs:element minOccurs="0" name="BanosMinimo" type="xs:int" />
      <xs:element minOccurs="0" name="CocinaIndependiente" type="xs:boolean" />
      <xs:element minOccurs="0" name="ContadorBusqueda" type="xs:int" />
      <xs:element minOccurs="0" name="ContadorUsuario" type="xs:int" />
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Estado" nillable="true" type="q1:ArrayOfstring" />
      <xs:element minOccurs="0" name="Garaje" type="xs:boolean" />
      <xs:element minOccurs="0" name="HabitacionesMinimo" type="xs:int" />
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Oferta" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Orden" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Piscina" type="xs:boolean" />
      <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Poblacion" nillable="true" type="q2:ArrayOfstring" />
      <xs:element minOccurs="0" name="PrecioMaximo" type="xs:int" />
      <xs:element minOccurs="0" name="RegistrationID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TamanoMinimo" type="xs:int" />
      <xs:element minOccurs="0" name="Terraza" type="xs:boolean" />
      <xs:element xmlns:q3="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Tipo" nillable="true" type="q3:ArrayOfstring" />
      <xs:element minOccurs="0" name="TipoInmueble" nillable="true" type="xs:string" />
      <xs:element xmlns:q4="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Zona" nillable="true" type="q4:ArrayOfstring" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="clFiltrosBusqueda" nillable="true" type="tns:clFiltrosBusqueda" />
  <xs:complexType name="ArrayOfclInmueblesDetalle">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="clInmueblesDetalle" nillable="true" type="tns:clInmueblesDetalle" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfclInmueblesDetalle" nillable="true" type="tns:ArrayOfclInmueblesDetalle" />
  <xs:complexType name="clInmueblesDetalle">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:clInmueblesListado">
        <xs:sequence>
          <xs:element minOccurs="0" name="Ascensor" type="xs:boolean" />
          <xs:element minOccurs="0" name="BalconPatio" type="xs:boolean" />
          <xs:element minOccurs="0" name="Banos" type="xs:int" />
          <xs:element minOccurs="0" name="CocinaOffice" type="xs:boolean" />
          <xs:element minOccurs="0" name="CodPostal" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Descripcion" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Direccion" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Garaje" type="xs:boolean" />
          <xs:element minOccurs="0" name="Numero" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Piscina" type="xs:boolean" />
          <xs:element minOccurs="0" name="Provincia" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Terraza" type="xs:boolean" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="clInmueblesDetalle" nillable="true" type="tns:clInmueblesDetalle" />
  <xs:complexType name="ArrayOfclDatosDeUsuario">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="clDatosDeUsuario" nillable="true" type="tns:clDatosDeUsuario" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfclDatosDeUsuario" nillable="true" type="tns:ArrayOfclDatosDeUsuario" />
  <xs:complexType name="ArrayOfclEstados">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="clEstados" nillable="true" type="tns:clEstados" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfclEstados" nillable="true" type="tns:ArrayOfclEstados" />
  <xs:complexType name="clEstados">
    <xs:sequence>
      <xs:element minOccurs="0" name="Texto" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="clEstados" nillable="true" type="tns:clEstados" />
  <xs:complexType name="ArrayOfclPoblaciones">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="clPoblaciones" nillable="true" type="tns:clPoblaciones" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfclPoblaciones" nillable="true" type="tns:ArrayOfclPoblaciones" />
  <xs:complexType name="clPoblaciones">
    <xs:sequence>
      <xs:element minOccurs="0" name="Texto" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Valor" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="clPoblaciones" nillable="true" type="tns:clPoblaciones" />
  <xs:complexType name="ArrayOfclTamanos">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="clTamanos" nillable="true" type="tns:clTamanos" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfclTamanos" nillable="true" type="tns:ArrayOfclTamanos" />
  <xs:complexType name="clTamanos">
    <xs:sequence>
      <xs:element minOccurs="0" name="Posicion" type="xs:int" />
      <xs:element minOccurs="0" name="Texto" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Valor" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="clTamanos" nillable="true" type="tns:clTamanos" />
  <xs:complexType name="ArrayOfclPrecios">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="clPrecios" nillable="true" type="tns:clPrecios" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfclPrecios" nillable="true" type="tns:ArrayOfclPrecios" />
  <xs:complexType name="clPrecios">
    <xs:sequence>
      <xs:element minOccurs="0" name="Texto" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Valor" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="clPrecios" nillable="true" type="tns:clPrecios" />
  <xs:complexType name="ArrayOfclOfertas">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="clOfertas" nillable="true" type="tns:clOfertas" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfclOfertas" nillable="true" type="tns:ArrayOfclOfertas" />
  <xs:complexType name="clOfertas">
    <xs:sequence>
      <xs:element minOccurs="0" name="Texto" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="clOfertas" nillable="true" type="tns:clOfertas" />
  <xs:complexType name="ArrayOfclTipoInmueble">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="clTipoInmueble" nillable="true" type="tns:clTipoInmueble" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfclTipoInmueble" nillable="true" type="tns:ArrayOfclTipoInmueble" />
  <xs:complexType name="clTipoInmueble">
    <xs:sequence>
      <xs:element minOccurs="0" name="Texto" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="clTipoInmueble" nillable="true" type="tns:clTipoInmueble" />
  <xs:complexType name="ArrayOfclZonas">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="clZonas" nillable="true" type="tns:clZonas" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfclZonas" nillable="true" type="tns:ArrayOfclZonas" />
  <xs:complexType name="clZonas">
    <xs:sequence>
      <xs:element minOccurs="0" name="Texto" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="clZonas" nillable="true" type="tns:clZonas" />
  <xs:complexType name="ArrayOfclHabitaciones">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="clHabitaciones" nillable="true" type="tns:clHabitaciones" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfclHabitaciones" nillable="true" type="tns:ArrayOfclHabitaciones" />
  <xs:complexType name="clHabitaciones">
    <xs:sequence>
      <xs:element minOccurs="0" name="Texto" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Valor" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="clHabitaciones" nillable="true" type="tns:clHabitaciones" />
  <xs:complexType name="ArrayOfclBanos">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="clBanos" nillable="true" type="tns:clBanos" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfclBanos" nillable="true" type="tns:ArrayOfclBanos" />
  <xs:complexType name="clBanos">
    <xs:sequence>
      <xs:element minOccurs="0" name="Texto" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Valor" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="clBanos" nillable="true" type="tns:clBanos" />
  <xs:complexType name="ArrayOfclAlertas">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="clAlertas" nillable="true" type="tns:clAlertas" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfclAlertas" nillable="true" type="tns:ArrayOfclAlertas" />
  <xs:complexType name="clAlertas">
    <xs:sequence>
      <xs:element minOccurs="0" name="Contador" type="xs:int" />
      <xs:element minOccurs="0" name="ContadorUsuario" type="xs:int" />
      <xs:element minOccurs="0" name="LineaHabitaciones" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LineaPoblacion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LineaPrecio" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LineaSuperficie" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LineaTipoInmuebleOferta" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LineaTitulo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="clAlertas" nillable="true" type="tns:clAlertas" />
  <xs:complexType name="ArrayOfclDatosMapa">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="clDatosMapa" nillable="true" type="tns:clDatosMapa" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfclDatosMapa" nillable="true" type="tns:ArrayOfclDatosMapa" />
  <xs:complexType name="clDatosMapa">
    <xs:sequence>
      <xs:element minOccurs="0" name="Descripcion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Direccion" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="clDatosMapa" nillable="true" type="tns:clDatosMapa" />
  <xs:complexType name="clNotificacion">
    <xs:sequence>
      <xs:element minOccurs="0" name="ContadorReceptor" type="xs:int" />
      <xs:element minOccurs="0" name="Mensaje" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NIF" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RutaEncuesta" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="accion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="titulo" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="clNotificacion" nillable="true" type="tns:clNotificacion" />
  <xs:complexType name="ArrayOfclMensajes">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="clMensajes" nillable="true" type="tns:clMensajes" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfclMensajes" nillable="true" type="tns:ArrayOfclMensajes" />
  <xs:complexType name="clMensajes">
    <xs:sequence>
      <xs:element minOccurs="0" name="Contador" type="xs:int" />
      <xs:element minOccurs="0" name="ContadorEmisor" type="xs:int" />
      <xs:element minOccurs="0" name="ContadorEmpresa" type="xs:int" />
      <xs:element minOccurs="0" name="ContadorReceptor" type="xs:int" />
      <xs:element minOccurs="0" name="FechaCadena" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="HoraCadena" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Mensaje" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="clMensajes" nillable="true" type="tns:clMensajes" />
</xs:schema>